<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title">{{title | uppercase}}</span>
                    <form class="mt-4" [formGroup]="productForm" (ngSubmit)="addEditProduct()">
                        <div class="mb-3">
                            <input type="text" formControlName="name" class="form-control form-control-lg" placeholder="Name">
                            <div class="text-danger" *ngIf="productForm.get('name')?.hasError('required') && productForm.get('name')?.touched">
                                <span>Product name is required</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="category" class="form-control form-control-lg" placeholder="Category">
                            <div class="text-danger" *ngIf="productForm.get('category')?.hasError('required') && productForm.get('category')?.touched">
                                <span>Product category is required</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="location" class="form-control form-control-lg" placeholder="Location">
                            <div class="text-danger" *ngIf="productForm.get('location')?.hasError('required') && productForm.get('location')?.touched">
                                <span>Product location is required</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="price" class="form-control form-control-lg" placeholder="Price">
                            <div class="text-danger" *ngIf="productForm.get('price')?.hasError('required') && productForm.get('price')?.touched">
                                <span>Product price is required</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-secondary btn-lg float-start" routerLink="/products-list">RETURN</button>
                            <button type="submit" [disabled]="productForm.invalid" class="btn btn-success btn-lg float-end">{{btnTxt | uppercase}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>