<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title">CREATE PRODUCT</span>
                    <form class="mt-4">
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Product">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Category">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Location">
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control form-control-lg" placeholder="Price">
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-secondary btn-lg float-start" routerLink="/products-list">RETURN</button>
                            <button class="btn btn-success btn-lg float-end">CREATE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>